@use '../layout/grid';
@use '../utils/spacing';
@use '../utils/variables' as *;

.album__container {
  @extend .row;
}

.album__item {
  @extend .col;
  @extend .margin-top-sm;
  cursor: pointer;

  &:not(:last-child) {
    @extend .margin-right-sm;
  }

  &:hover .album__thumb, &:focus .album__thumb {
    transform: scale(1.2);
  }

  &:focus .album__thumb {
    outline: solid 2px blue;
  }

  .album__thumb {
    display: block;
    width: 100%;
    transition: all 0.1s;
  }
}

.album__album-details {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background: white;

  &:focus {
    outline: none;
  }

  img {
    position: absolute;
    top: 50px;
    left: 10%;
    width: 80%;

    @media (min-width: $break-md) {
      top: 100px;
      left: 10%;
      width: 30%;
    }
  }
}
