// Typography
$font-size-base-sm: 100%;
$font-size-base-md: 112.5%;
$font-size-base-lg: 125%;
$line-height-base: 1.5;

// Breakpoints
$break-md: 64em;
$break-lg: 84em;

// Sizes
$size-1: 1em;
$size-2: 1.5em;
$size-3: 2em;
